#map {
  height: 100%;
}

html, body { 
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: black;
}

#locations0{
  background-color: pink;
  font-size:55px;
}

.articleListSnippet{
  max-width: 250px;
}

.articleTitle{
  font-size: 25px;
}

a:hover {color: #2999bd;}
a:active {color: #acb2e0;}

.list {
  float: left;
}

.search{
  margin: 0px;
  width: 200px;
  height: 35px;
  border: 5px solid darkgray;
}

ul {
  background-color: #17177b;
  height: 100%;
  margin: 0px;
  padding:0px;
  border: 5px solid darkgray;
  overflow: scroll;
}

li {
  background-color:#2999bd;
  margin:5px;
  padding:5px;
}

li:hover {background: #8f88d4;}
li:active {background: #acb2e0;}

@media (max-width: 767px) {

html, body { 
font-size:15px;
}

#map{
  float: none;
}

.articleTitle{
  font-size: 16px;
}

.wikiImg {
  max-width: 50px;
}

.list{
  float: none;
  height: 120px;
}

.search{
  width: 200px;
  height: 17px;
  margin-left: 10px;
  border: 3px solid darkgray;
}

ul {
  border: none;
  padding: 0px 10px;
}

li {
  margin:0px;
  padding:0px;
}

}